@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}

:root {
  --font-sans: 'Inter', sans-serif;
}
